<div class="x_panel">
    <h2 data-translate="chartmanApp.clientApplication.home.title">Client Applications</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="client-application.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="chartmanApp.clientApplication.home.createLabel">
                        Create new Client Application
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped jambo_table projects">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="applicationName"><span data-translate="chartmanApp.clientApplication.applicationName">Application Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="applicationDescription"><span data-translate="chartmanApp.clientApplication.applicationDescription">Application Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="active"><span data-translate="chartmanApp.clientApplication.active">Active</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="clientAccount.account_id"><span data-translate="chartmanApp.clientApplication.clientAccount">Client Account</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="clientApplication in vm.clientApplications track by clientApplication.id">
                    <td><a ui-sref="client-application-detail({id:clientApplication.id})">{{clientApplication.id}}</a></td>
                    <td>{{clientApplication.applicationName}}</td>
                    <td>{{clientApplication.applicationDescription}}</td>
                    <td>{{clientApplication.active}}</td>
                    <td>
                        {{clientApplication.clientAccount.accountName}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="client-application-detail({id:clientApplication.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="client-application.edit({id:clientApplication.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="client-application.delete({id:clientApplication.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center pull-right">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
