
<div>
    <h2><span data-translate="chartmanApp.clientApplication.detail.title">Client Application</span> {{vm.clientApplication.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="chartmanApp.clientApplication.applicationName">Application Name</span></dt>
        <dd>
            <span>{{vm.clientApplication.applicationName}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.clientApplication.applicationDescription">Application Description</span></dt>
        <dd>
            <span>{{vm.clientApplication.applicationDescription}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.clientApplication.active">Active</span></dt>
        <dd>
            <span>{{vm.clientApplication.active}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.clientApplication.clientAccount">Client Account</span></dt>
        <dd>
            {{vm.clientApplication.clientAccount.accountName}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="client-application-detail.edit({id:vm.clientApplication.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
