
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientApplicationLabel" data-translate="chartmanApp.clientApplication.home.createOrEditLabel">Create or edit a Client Application</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.clientApplication.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.clientApplication.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="chartmanApp.clientApplication.applicationName" for="field_applicationName">Application Name</label>
            <input type="text" class="form-control" name="applicationName" id="field_applicationName"
                    ng-model="vm.clientApplication.applicationName"
                    required ng-minlength="3" ng-maxlength="200" />
            <div ng-show="editForm.applicationName.$invalid">
                <p class="help-block"
                    ng-show="editForm.applicationName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.applicationName.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.applicationName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="chartmanApp.clientApplication.applicationDescription" for="field_applicationDescription">Application Description</label>
            <input type="text" class="form-control" name="applicationDescription" id="field_applicationDescription"
                    ng-model="vm.clientApplication.applicationDescription"
                    ng-maxlength="1000" />
            <div ng-show="editForm.applicationDescription.$invalid">
                <p class="help-block"
                    ng-show="editForm.applicationDescription.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1000">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="chartmanApp.clientApplication.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="vm.clientApplication.active"
                     />
        </div>

        <div class="form-group">
            <label data-translate="chartmanApp.clientApplication.clientAccount" for="field_clientAccount">Client Account</label>
            <select class="form-control" id="field_clientAccount" name="clientAccount" ng-model="vm.clientApplication.clientAccount" required ng-options="ClientAccount as ClientAccount.accountName for ClientAccount in vm.clientaccounts | orderBy:'id' track by ClientAccount.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
