<div class="x_panel">
	<h2 data-translate="chartmanApp.testTransaction.home.title">Test Transactions</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="test-transaction.new">
					<span class="glyphicon glyphicon-plus"></span> <span data-translate="chartmanApp.testTransaction.home.createLabel"> Create new Test Transaction </span>
				</button>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped jambo_table projects">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
					<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="description"><span data-translate="chartmanApp.testTransaction.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="testTransaction in vm.testTransactions track by vm.testTransactionTracker(testTransaction)">
					<td><a ui-sref="test-transaction-detail({id:testTransaction.id,clientTestId:testTransaction.clientTest.id})">{{testTransaction.id}}</a></td>
					<td>{{testTransaction.description}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit" ui-sref="test-transaction-detail({id:testTransaction.id,clientTestId:testTransaction.clientTest.id})" class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
							</button>
							<button type="submit" ui-sref="test-transaction.edit({id:testTransaction.id,clientTestId:testTransaction.clientTest.id})" class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center pull-right">
		<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
		<uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
	</div>
</div>
