
<div>
    <h2><span data-translate="chartmanApp.testTransaction.detail.title">Test Transaction</span> {{vm.testTransaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="chartmanApp.testTransaction.code">Code</span></dt>
        <dd>
            <span>{{vm.testTransaction.code}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.testTransaction.name">Name</span></dt>
        <dd>
            <span>{{vm.testTransaction.name}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.testTransaction.description">Description</span></dt>
        <dd>
            <span>{{vm.testTransaction.description}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.testTransaction.notes">Notes</span></dt>
        <dd>
            <span>{{vm.testTransaction.notes}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="test-transaction-detail.edit({id:vm.testTransaction.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
