
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientProjectLabel" data-translate="chartmanApp.clientProject.home.createOrEditLabel">Create or edit a Client Project</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.clientProject.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.clientProject.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="chartmanApp.clientProject.projectName" for="field_projectName">Project Name</label>
            <input type="text" class="form-control" name="projectName" id="field_projectName"
                    ng-model="vm.clientProject.projectName"
                    required ng-minlength="3" ng-maxlength="200" />
            <div ng-show="editForm.projectName.$invalid">
                <p class="help-block"
                    ng-show="editForm.projectName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.projectName.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.projectName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="chartmanApp.clientProject.projectDescription" for="field_projectDescription">Project Description</label>
            <input type="text" class="form-control" name="projectDescription" id="field_projectDescription"
                    ng-model="vm.clientProject.projectDescription"
                    ng-maxlength="1000" />
            <div ng-show="editForm.projectDescription.$invalid">
                <p class="help-block"
                    ng-show="editForm.projectDescription.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1000">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <label data-translate="chartmanApp.clientProject.clientName" for="field_clientAccount">Client Account</label>
            <select class="form-control" id="field_clientAccount" name="clientAccount" ng-model="vm.clientAccount"  ng-change="vm.loadClientApplications()" ng-options="ClientAccount as ClientAccount.accountName for ClientAccount in vm.clientaccounts | orderBy:'id' track by ClientAccount.id">
                <option value="">Choose</option>
            </select>
        </div>
        
        <div class="form-group">
            <label data-translate="chartmanApp.clientProject.applicationName" for="field_clientApplication">Client Application</label>
            <select class="form-control" id="field_clientApplication" name="clientApplication" ng-model="vm.clientProject.clientApplication" required ng-options="ClientApplication as ClientApplication.applicationName for ClientApplication in vm.clientApplications | orderBy:'id' track by ClientApplication.id">
                <option value=""></option>
            </select>
        </div>
        
        <div class="form-group">
            <label class="control-label" data-translate="chartmanApp.clientProject.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="vm.clientProject.active"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
