<div class="x_panel">
	<h2 data-translate="chartmanApp.clientProject.home.title" class="x_title">Client Projects</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="client-project.new">
					<span class="glyphicon glyphicon-plus"></span> <span data-translate="chartmanApp.clientProject.home.createLabel"> Create new Client Project </span>
				</button>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped jambo_table projects">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
					<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="projectName"><span data-translate="chartmanApp.clientProject.projectName">Project Name</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="projectName"><span data-translate="chartmanApp.clientProject.clientName">Client Name</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="projectName"><span data-translate="chartmanApp.clientProject.applicationName">Application Name</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="active"><span data-translate="chartmanApp.clientProject.active">Active</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="clientProject in vm.clientProjects track by clientProject.id">
					<td><a ui-sref="client-project-detail({id:clientProject.id})">{{clientProject.id}}</a></td>
					<td>{{clientProject.projectName}}</td>
					<td>{{clientProject.clientApplication.clientAccount.accountName}}</td>
					<td>{{clientProject.clientApplication.applicationName}}</td>
					<td>{{clientProject.active}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit" ui-sref="client-project-detail({id:clientProject.id})" class="btn btn-info btn-xs">
								<span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
							</button>
							<button type="submit" ui-sref="client-project.edit({id:clientProject.id})" class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
							</button>
							<button type="submit" ui-sref="client-project.delete({id:clientProject.id})" class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center pull-right">
		<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
		<uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
	</div>
</div>
