
<div>
    <h2><span data-translate="chartmanApp.clientProject.detail.title">Client Project</span> {{vm.clientProject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="chartmanApp.clientProject.projectName">Project Name</span></dt>
        <dd>
            <span>{{vm.clientProject.projectName}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.clientProject.projectDescription">Project Description</span></dt>
        <dd>
            <span>{{vm.clientProject.projectDescription}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.clientProject.active">Active</span></dt>
        <dd>
            <span>{{vm.clientProject.active}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="client-project-detail.edit({id:vm.clientProject.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
