
<div>
    <h2><span data-translate="chartmanApp.organisation.detail.title">Organisation</span> {{vm.organisation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="chartmanApp.organisation.name">Name</span></dt>
        <dd>
            <span>{{vm.organisation.name}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.organisation.status">Status</span></dt>
        <dd>
            <span>{{vm.organisation.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="organisation-detail.edit({id:vm.organisation.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
