
<div>
    <h2><span data-translate="chartmanApp.clientTest.detail.title">Client Test</span> {{vm.clientTest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="chartmanApp.clientTest.testName">Test Name</span></dt>
        <dd>
            <span>{{vm.clientTest.testName}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.clientTest.testDescription">Test Description</span></dt>
        <dd>
            <span>{{vm.clientTest.testDescription}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.clientTest.testDate">Test Date</span></dt>
        <dd>
            <span>{{vm.clientTest.testDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.clientTest.active">Active</span></dt>
        <dd>
            <span>{{vm.clientTest.active}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="client-test-detail.edit({id:vm.clientTest.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
