
<form name="editForm" role="form" novalidate ng-submit="vm.save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myClientTestLabel"
			data-translate="chartmanApp.clientTest.home.createOrEditLabel">Create
			or edit a Client Test</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" ng-show="vm.clientTest.id">
			<label for="id" data-translate="global.field.id">ID</label> <input
				type="text" class="form-control" id="id" name="id"
				ng-model="vm.clientTest.id" readonly />
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="chartmanApp.clientTest.testName"
				for="field_testName">Test Name</label> <input type="text"
				class="form-control" name="testName" id="field_testName"
				ng-model="vm.clientTest.testName" required ng-minlength="3"
				ng-maxlength="200" />
			<div ng-show="editForm.testName.$invalid">
				<p class="help-block" ng-show="editForm.testName.$error.required"
					data-translate="entity.validation.required">This field is
					required.</p>
				<p class="help-block" ng-show="editForm.testName.$error.minlength"
					data-translate="entity.validation.minlength"
					translate-value-min="3">This field is required to be at least 3
					characters.</p>
				<p class="help-block" ng-show="editForm.testName.$error.maxlength"
					data-translate="entity.validation.maxlength"
					translate-value-max="200">This field cannot be longer than 200
					characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="chartmanApp.clientTest.testDescription"
				for="field_testDescription">Test Description</label> <input
				type="text" class="form-control" name="testDescription"
				id="field_testDescription" ng-model="vm.clientTest.testDescription"
				ng-maxlength="1000" />
			<div ng-show="editForm.testDescription.$invalid">
				<p class="help-block"
					ng-show="editForm.testDescription.$error.maxlength"
					data-translate="entity.validation.maxlength"
					translate-value-max="1000">This field cannot be longer than
					1000 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"
				data-translate="chartmanApp.clientTest.testDate"
				for="field_testDate">Test Date</label>
			<div class="input-group">
				<input id="field_testDate" type="text" class="form-control"
					name="testDate" datetime-picker="{{dateformat}}"
					ng-model="vm.clientTest.testDate"
					is-open="vm.datePickerOpenStatus.testDate" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="vm.openCalendar('testDate')">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label data-translate="chartmanApp.clientTest.clientName"
				for="field_clientAccount">Account</label> <select
				class="form-control" id="field_clientAccount" name="clientAccount"
				ng-model="vm.clientAccount" ng-change="vm.loadClientApplications()"
				ng-options="ClientAccount as ClientAccount.accountName for ClientAccount in vm.clientaccounts | orderBy:'id' track by ClientAccount.id">
				<option value="">Choose</option>
			</select>
		</div>

		<div class="form-group">
			<label data-translate="chartmanApp.clientTest.applicationName"
				for="field_clientApplication">Application</label> <select
				class="form-control" id="field_clientApplication"
				name="clientApplication" ng-model="vm.clientApplication"
				ng-change="vm.loadClientProjects()" required
				ng-options="ClientApplication as ClientApplication.applicationName for ClientApplication in vm.clientApplications | orderBy:'id' track by ClientApplication.id">
				<option value=""></option>
			</select>
		</div>
		<div class="form-group">
			<label data-translate="chartmanApp.clientTest.projectName"
				for="field_clientAccount">Project</label> <select
				class="form-control" id="field_clientAccount" name="clientProject"
				ng-model="vm.clientTest.clientProject"
				ng-options="ClientProject as ClientProject.projectName for ClientProject in vm.clientProjects | orderBy:'id' track by ClientProject.id">
				<option value="">Choose</option>
			</select>
		</div>

		<div class="form-group">
			<label class="control-label"
				data-translate="chartmanApp.clientTest.active" for="field_active">Active</label>
			<input type="checkbox" class="form-control" name="active"
				id="field_active" ng-model="vm.clientTest.active" />
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				data-translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				data-translate="entity.action.save">Save</span>
		</button>
	</div>
</form>
