<div class="x_panel">
	<h2 data-translate="chartmanApp.clientTest.home.title">Client Tests</h2>
	<jhi-alert></jhi-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="client-test.new">
					<span class="glyphicon glyphicon-plus"></span> <span data-translate="chartmanApp.clientTest.home.createLabel"> Create new Client Test </span>
				</button>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped jambo_table projects">
			<thead>
				<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
					<th jh-sort-by="testName"><span data-translate="chartmanApp.clientTest.testName">Test Name</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="testName"><span data-translate="chartmanApp.clientTest.testkey">Test Key</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="testName"><span data-translate="chartmanApp.clientTest.clientName">Client</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="testName"><span data-translate="chartmanApp.clientTest.applicationName">Application</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="testName"><span data-translate="chartmanApp.clientTest.projectName">Project</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th><span data-translate="chartmanApp.clientTest.active">Active</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="clientTest in vm.clientTests track by clientTest.id">
					<td>{{clientTest.testName}}</td>
					<td>{{clientTest.testKey}}</td>
					<td>{{clientTest.clientProject.clientApplication.clientAccount.accountName}}</td>
					<td>{{clientTest.clientProject.clientApplication.applicationName}}</td>
					<td>{{clientTest.clientProject.projectName}}</td>
					<td>{{clientTest.active}}</td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit" ui-sref="client-test-detail({id:clientTest.id})" class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
							</button>
							<button type="submit" ui-sref="client-test.edit({id:clientTest.id})" class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
							</button>
							<button type="submit" ui-sref="client-test.delete({id:clientTest.id})" class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center pull-right">
		<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
		<uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
	</div>
</div>
