<div class="row tile_count">
	<div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-user"></i> User Load</span>
		<div class="count">{{vm.mapdata.userload}}</div>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-clock-o"></i> Average Response Time</span>
		<div class="count">{{vm.mapdata.avgResponseTime}}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-line-chart"></i> Hits per Second</span>
		<div class="count">{{vm.mapdata.hitsPerSecond}}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-signal"></i> Throughput Bytes/sec</span>
		<div class="count">{{vm.mapdata.throughput}}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-exclamation-circle"></i> Errors/Sec</span>
		<div class="count">{{vm.mapdata.errorsPerSecond}}</div>
	</div>

</div>
<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12 ">
		<div class="x_panel">
			<div class="x_title">
				<h2>Transaction Results</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div style="min-height: 300px" id="id-trans-status-count"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12 ">
		<div class="x_panel">
			<div class="x_title">
				<h2>Transaction Response Time Distribution</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div style="min-height: 300px" id="id-trans-response-dist"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12 ">
		<div class="x_panel">
			<div class="x_title">
				<h2>SLA Results</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div style="min-height: 300px" id="id-trans-sla-count"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>HTTP Response Code Distribution</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content" style="min-height: 300px">
                   <div ng-repeat="x in vm.mapdata1 track by x.httpResponseCode" class="widget_summary">
                    <div class="w_left w_20">
                      <span>HTTP - {{x.httpResponseCode}}</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress progress_lg">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{x.percentage}}%;">
                          <span class="sr-only">{{x.percentage}}% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_25">
                      <span>{{x.count}} <small>({{x.percentage}}%)</small></span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
				</div>
         </div>
    </div>
</div>
<div class="row">

	<div class="col-md-12 col-sm-6 col-xs-12">
	
		<div class="x_panel">
			<div class="x_title">
				<h3>Top 5 Slow Transactions <small>Sorted by Average response time</small></h3>
			</div>
			
			<table class="table table-striped table-bordered">
				<thead>
					<tr role="row">
					
						<td class="col-xs-12 col-lg-4 col-md-4 col-sm-4"> <a href="" ng-click="vm.tdata.sortType  = 'transactioncode'; vm.tdata.sortReverse = !vm.tdata.sortReverse">
                        Transaction Name 
                        <span ng-show="vm.tdata.sortType == 'transactioncode' && !vm.tdata.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.tdata.sortType == 'transactioncode' && vm.tdata.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.tdata.sortType = 'minresponsetime'; vm.tdata.sortReverse = !vm.tdata.sortReverse">
                        Minimum 
                        <span ng-show="vm.tdata.sortType == 'minresponsetime' && !vm.tdata.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.tdata.sortType == 'minresponsetime' && vm.tdata.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.tdata.sortType = 'avgresponsetime'; vm.tdata.sortReverse = !vm.tdata.sortReverse">
                        Average 
                        <span ng-show="vm.tdata.sortType == 'avgresponsetime' && !vm.tdata.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.tdata.sortType == 'avgresponsetime' && vm.tdata.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.tdata.sortType = 'maxresponsetime'; vm.tdata.sortReverse = !vm.tdata.sortReverse">
                        Maximum 
                        <span ng-show="vm.tdata.sortType == 'maxresponsetime' && !vm.tdata.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.tdata.sortType == 'maxresponsetime' && vm.tdata.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.tdata.sortType = 'stddeviation'; vm.tdata.sortReverse = !vm.tdata.sortReverse">
                        Std. Deviation 
                        <span ng-show="vm.tdata.sortType == 'stddeviation' && !vm.tdata.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.tdata.sortType == 'stddeviation' && vm.tdata.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.tdata.sortType = 'percentile'; vm.tdata.sortReverse = !vm.tdata.sortReverse">
                        90th Percentile 
                        <span ng-show="vm.tdata.sortType == 'percentile' && !vm.tdata.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.tdata.sortType == 'percentile' && vm.tdata.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.tdata.sortType = 'totalcount'; vm.tdata.sortReverse = !vm.tdata.sortReverse">
                        Total 
                        <span ng-show="vm.tdata.sortType == 'totalcount' && !vm.tdata.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.tdata.sortType == 'totalcount' && vm.tdata.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.tdata.sortType = 'successcount'; vm.tdata.sortReverse = !vm.tdata.sortReverse">
                        Success 
                        <span ng-show="vm.tdata.sortType == 'successcount' && !vm.tdata.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.tdata.sortType == 'successcount' && vm.tdata.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.tdata.sortType = 'failedcount'; vm.tdata.sortReverse = !vm.tdata.sortReverse">
                        Fail
                        <span ng-show="vm.tdata.sortType == 'failedcount' && !vm.tdata.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.tdata.sortType == 'failedcount' && vm.tdata.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in vm.tdata | orderBy:vm.tdata.sortType:vm.tdata.sortReverse">
						<td ng-class="{active: vm.$state.includes('transactiondetails')}" class="col-xs-12 col-lg-4 col-md-4 col-sm-4">
						<a ui-sref="transactiondetails({transactionCode : x.transactioncode})">{{ x.transactioncode }}</a></td>
				        <td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ x.minresponsetime }}</td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ x.avgresponsetime }}</td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ x.maxresponsetime }}</td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ x.stddeviation }}</td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ x.percentile }}</td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ x.totalcount }}</td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ x.successcount }}</td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ x.failedcount }}</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
</div>
