<div class="x_panel">
	<form class="form-inline pull-right">
		<div class="form-group">

			<label data-translate="chartmanApp.reporting.selectTransaction" for="field_transactionname">Select Transaction</label>&nbsp;&nbsp; <select class="form-control" id="field_transactionname" ng-model="vm.transactionCode" ng-options="x as x for x in vm.transactionList | orderBy:'x'" ng-change="vm.reloadTransactionDetails()">
				<option value="">Please Select</option>
			</select>
		</div>
	</form>
</div>
<div ng-switch="vm.transactionOk">
	<div ng-switch-when="true">
		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12 ">
				<div class="x_panel">
					<div>
						<h3 class="text-center">
							Transaction Details for <small>{{vm.transactionCode}}</small>
						</h3>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 " id="response-time-report">
				<div class="x_panel chart-panel">
					<div class="x_title">
						<h2>
							Response Time Trend chart for <small> {{vm.transactionCode}} </small>
						</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="col-xs-12 chart-div" id="{{vm.transactionCode}}"></div>
						<div class="col-xs-12" id="{{vm.transactionCode}}-legend"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">


			<div class="col-md-6 col-sm-6 col-xs-12 ">
				<div class="x_panel">
					<div class="x_title">
						<h2>Transaction Results</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div style="min-height: 300px" id="id-trans-status-count"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 ">
				<div class="x_panel">
					<div class="x_title">
						<h2>Transaction Response Time Distribution</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div style="min-height: 300px" id="id-trans-response-dist"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 ">
				<div class="x_panel">
					<div class="x_title">
						<h2>SLA Results</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div style="min-height: 300px" id="id-trans-sla-count"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>HTTP Response Code Distribution</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content" style="min-height: 300px">
						<div ng-repeat="x in vm.mapdata.httpResponseDistributionList track by x.httpResponseCode" class="widget_summary">
							<div class="w_left w_20">
								<span>HTTP - {{x.httpResponseCode}}</span>
							</div>
							<div class="w_center w_55">
								<div class="progress progress_lg">
									<div class="progress-bar bg-green" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:{{x.percentage}}%">
										<span class="sr-only">{{x.percentage}}% Complete</span>
									</div>
								</div>
							</div>
							<div class="w_right w_25">
								<span>{{x.count}} <small>({{x.percentage}}%)</small></span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12 col-sm-6 col-xs-12">

				<div class="x_panel">
					<div class="x_title">
						<h3>
							Transaction Summary <small>for {{ vm.tdata.transactioncode }}</small>
						</h3>
					</div>

					<table class="table table-striped table-bordered">
						<thead>
							<tr role="row">

								<td class="col-xs-12 col-lg-4 col-md-4 col-sm-4">Transaction Name</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">Minimum</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">Average</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">Maximum</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">Std. Deviation</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">90th Percentile</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">Total</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">Success</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">Fail</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="col-xs-12 col-lg-4 col-md-4 col-sm-4">{{ vm.tdata.transactioncode }}</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ vm.tdata.minresponsetime }}</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ vm.tdata.avgresponsetime }}</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ vm.tdata.maxresponsetime }}</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ vm.tdata.stddeviation }}</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ vm.tdata.percentile }}</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ vm.tdata.totalcount }}</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ vm.tdata.successcount }}</td>
								<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1">{{ vm.tdata.failedcount }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>