<div class="row">
	<div class="col-xs-12 chart-panel">
		<div class="x_panel">
			<div class="x_title">
				<h3>Transaction Response Time Summary</h3>
			</div>
			<form>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search Transaction" ng-model="vm.table.searchTransaction">
                  </div>      
                </div>
             </form>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<td><a href="" ng-click="vm.table.sortType  = 'transactioncode'; vm.table.sortReverse = !vm.table.sortReverse">
                        Transaction Name 
                        <span ng-show="vm.table.sortType == 'transactioncode' && !vm.table.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.table.sortType == 'transactioncode' && vm.table.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.table.sortType = 'minresponsetime'; vm.table.sortReverse = !vm.table.sortReverse">
                        Minimum 
                        <span ng-show="vm.table.sortType == 'minresponsetime' && !vm.table.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.table.sortType == 'minresponsetime' && vm.table.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.table.sortType = 'avgresponsetime'; vm.table.sortReverse = !vm.table.sortReverse">
                        Average 
                        <span ng-show="vm.table.sortType == 'avgresponsetime' && !vm.table.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.table.sortType == 'avgresponsetime' && vm.table.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.table.sortType = 'maxresponsetime'; vm.table.sortReverse = !vm.table.sortReverse">
                        Maximum 
                        <span ng-show="vm.table.sortType == 'maxresponsetime' && !vm.table.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.table.sortType == 'maxresponsetime' && vm.table.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.table.sortType = 'stddeviation'; vm.table.sortReverse = !vm.table.sortReverse">
                        Std. Deviation 
                        <span ng-show="vm.table.sortType == 'stddeviation' && !vm.table.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.table.sortType == 'stddeviation' && vm.table.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.table.sortType = 'percentile'; vm.table.sortReverse = !vm.table.sortReverse">
                        90th Percentile 
                        <span ng-show="vm.table.sortType == 'percentile' && !vm.table.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.table.sortType == 'percentile' && vm.table.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.table.sortType = 'totalcount'; vm.table.sortReverse = !vm.table.sortReverse">
                        Total 
                        <span ng-show="vm.table.sortType == 'totalcount' && !vm.table.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.table.sortType == 'totalcount' && vm.table.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.table.sortType = 'successcount'; vm.table.sortReverse = !vm.table.sortReverse">
                        Success 
                        <span ng-show="vm.table.sortType == 'successcount' && !vm.table.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.table.sortType == 'successcount' && vm.table.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
						<td class="col-xs-12 col-lg-1 col-md-1 col-sm-1"> <a href="" ng-click="vm.table.sortType = 'failedcount'; vm.table.sortReverse = !vm.table.sortReverse">
                        Fail
                        <span ng-show="vm.table.sortType == 'failedcount' && !vm.table.sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="vm.table.sortType == 'failedcount' && vm.table.sortReverse" class="fa fa-caret-up"></span>
                        </a></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in vm.table | orderBy:vm.table.sortType:vm.table.sortReverse | filter:vm.table.searchTransaction">
						<td ng-class="{active: vm.$state.includes('transactiondetails')}" class="col-xs-12 col-lg-4 col-md-4 col-sm-4">
						<a ui-sref="transactiondetails({transactionCode : x.transactioncode})">{{ x.transactioncode }}</a></td>
						<td>{{ x.minresponsetime }}</td>
						<td>{{ x.avgresponsetime }}</td>
						<td>{{ x.maxresponsetime }}</td>
						<td>{{ x.stddeviation }}</td>
						<td>{{ x.percentile }}</td>
						<td>{{ x.totalcount }}</td>
						<td>{{ x.successcount }}</td>
						<td>{{ x.failedcount }}</td>
					</tr>
				</tbody>
			</table>
			
		</div>
        
	</div>
	<div class="col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Hits Per Second</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="col-xs-12 chart-div" id="LOAD_HITS_PER_SECOND"></div>
				<div class="col-xs-12" id="LOAD_HITS_PER_SECOND-legend"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Throughput</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="col-xs-12 chart-div" id="LOAD_THROUGHPUT"></div>
				<div class="col-xs-12" id="LOAD_THROUGHPUT-legend"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Errors Per Second</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="col-xs-12 chart-div" id="LOAD_ERRORS_PER_SECOND"></div>
				<div class="col-xs-12" id="LOAD_ERRORS_PER_SECOND-legend"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Average Response Time</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="col-xs-12 chart-div" id="LOAD_AVERAGE_RESPONSE_TIME"></div>
				<div class="col-xs-12" id="LOAD_AVERAGE_RESPONSE_TIME-legend"></div>
			</div>
		</div>
	</div>
</div>