<div class="x_panel">
	<form name="editForm" role="form" novalidate ng-submit="vm.loadDashboard()" show-validation>

		<div class="form-group">
			<label data-translate="chartmanApp.reporting.clientName" for="field_clientAccount">Account</label> <select class="form-control" id="field_clientAccount" name="clientAccount" ng-model="vm.clientAccount" ng-change="vm.loadClientApplications()" ng-options="ClientAccount as ClientAccount.accountName for ClientAccount in vm.clientaccounts | orderBy:'id' track by ClientAccount.id">
				<option value="">Choose</option>
			</select>
		</div>

		<div class="form-group">
			<label data-translate="chartmanApp.reporting.applicationName" for="field_clientApplication">Application</label> <select class="form-control" id="field_clientApplication" name="clientApplication" ng-change="vm.loadClientProjects()" ng-model="vm.clientApplication" required ng-options="ClientApplication as ClientApplication.applicationName for ClientApplication in vm.clientApplications | orderBy:'id' track by ClientApplication.id">
				<option value="">Choose</option>
			</select>
		</div>

		<div class="form-group">
			<label data-translate="chartmanApp.reporting.projectName" for="field_clientProject">Project</label> <select class="form-control" id="field_clientProject" name="clientProject" ng-model="vm.clientProject" ng-change="vm.loadClientTests()" ng-options="ClientProject as ClientProject.projectName for ClientProject in vm.clientProjects | orderBy:'id' track by ClientProject.id">
				<option value="">Choose</option>
			</select>
		</div>

		<div class="form-group">
			<label data-translate="chartmanApp.reporting.testName" for="field_clientTest">Test</label> <select class="form-control" id="field_clientTest" name="clientTest" ng-model="vm.clientTest" ng-options="ClientTest as ClientTest.testName for ClientTest in vm.clientTests | orderBy:'id' track by ClientTest.id">
				<option value="">Choose</option>
			</select>
		</div>

		<div class="form-group">
			<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
				<span data-translate="entity.action.view">View</span>
			</button>
		</div>



	</form>
</div>