<div class="x_panel">
    <h2 data-translate="chartmanApp.clientAccount.home.title">Client Accounts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="client-account.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="chartmanApp.clientAccount.home.createLabel">
                        Create new Client Account
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped jambo_table projects">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountName"><span data-translate="chartmanApp.clientAccount.accountName">Account Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountDescription"><span data-translate="chartmanApp.clientAccount.accountDescription">Account Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountStatus"><span data-translate="chartmanApp.clientAccount.accountStatus">Account Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="clientAccount in vm.clientAccounts track by clientAccount.id">
                    <td><a ui-sref="client-account-detail({id:clientAccount.id})">{{clientAccount.id}}</a></td>
                    <td>{{clientAccount.accountName}}</td>
                    <td>{{clientAccount.accountDescription}}</td>
                    <td>{{clientAccount.accountStatus}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="client-account-detail({id:clientAccount.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="client-account.edit({id:clientAccount.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="client-account.delete({id:clientAccount.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center pull-right">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
