
<div>
    <h2><span data-translate="chartmanApp.clientAccount.detail.title">Client Account</span> {{vm.clientAccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="chartmanApp.clientAccount.accountName">Account Name</span></dt>
        <dd>
            <span>{{vm.clientAccount.accountName}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.clientAccount.accountDescription">Account Description</span></dt>
        <dd>
            <span>{{vm.clientAccount.accountDescription}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.clientAccount.accountStatus">Account Status</span></dt>
        <dd>
            <span>{{vm.clientAccount.accountStatus}}</span>
        </dd>
        <dt><span data-translate="chartmanApp.clientAccount.organisation">Organisation</span></dt>
        <dd>
            <a ui-sref="organisation-detail({id:vm.clientAccount.organisation.id})">{{vm.clientAccount.organisation.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="client-account-detail.edit({id:vm.clientAccount.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
