
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientAccountLabel" data-translate="chartmanApp.clientAccount.home.createOrEditLabel">Create or edit a Client Account</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.clientAccount.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.clientAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="chartmanApp.clientAccount.accountName" for="field_accountName">Account Name</label>
            <input type="text" class="form-control" name="accountName" id="field_accountName"
                    ng-model="vm.clientAccount.accountName"
                    required ng-minlength="3" ng-maxlength="200" />
            <div ng-show="editForm.accountName.$invalid">
                <p class="help-block"
                    ng-show="editForm.accountName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.accountName.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.accountName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="200">
                    This field cannot be longer than 200 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="chartmanApp.clientAccount.accountDescription" for="field_accountDescription">Account Description</label>
            <input type="text" class="form-control" name="accountDescription" id="field_accountDescription"
                    ng-model="vm.clientAccount.accountDescription"
                    ng-maxlength="1000" />
            <div ng-show="editForm.accountDescription.$invalid">
                <p class="help-block"
                    ng-show="editForm.accountDescription.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1000">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="chartmanApp.clientAccount.accountStatus" for="field_accountStatus">Account Status</label>
            <input type="checkbox" class="form-control" name="accountStatus" id="field_accountStatus"
                    ng-model="vm.clientAccount.accountStatus"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
