
<div class="row">
	<div class="text-center pull-right">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
	</div>
	<div id="response-time-report">
		<div class="col-xs-12" ng-repeat="testTransaction in vm.testTransactions track by testTransaction.code">
			<div class="x_panel chart-panel">
				<div class="x_title">
					<h2>{{testTransaction.code}}</h2>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="col-xs-12 chart-div" id="{{testTransaction.code}}"></div>
					<div class="col-xs-12" id="{{testTransaction.code}}-legend"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center pull-right">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
	</div>
</div>
