<div class="row">
	<ul class="nav nav-tabs">
		<li ng-class="{active: vm.$state.includes('dashboarddetails')}" class="dropdown pointer"><a
			 ui-sref="dashboarddetails">Results Dashboard</a></li>
		<li ng-class="{active: vm.$state.includes('executiondetailsreport')}" class="dropdown pointer"><a
			ui-sref="executiondetailsreport">Test Summary</a></li>
		<li ng-class="{active: vm.$state.includes('responsetimechartdata')}" class="dropdown pointer"><a
			 ui-sref="responsetimechartdata">Response Time charts</a></li>
        <li ng-class="{active: vm.$state.includes('transactiondetails')}" class="dropdown pointer"><a
			 data-target="" ui-sref="transactiondetails">Transaction Details</a></li>
	</ul>
	<div ui-view="reportingtab" class="tab-content col-xs-12"></div>
</div>