<div class="row">
	<ul class="nav nav-tabs">
		<li ng-class="{active: vm.$state.includes('dashboarddetails')}" class="dropdown pointer"><a data-toggle="tab" ui-sref="dashboarddetails">Results Dashboard</a></li>
		<li ng-class="{active: vm.$state.includes('executiondetailsreport')}" class="dropdown pointer"><a data-toggle="tab" ui-sref="executiondetailsreport">Test Summary</a></li>
		<li ng-class="{active: vm.$state.includes('responsetimereport')}" class="dropdown pointer"><a data-toggle="tab" ui-sref="responsetimereport">Detailed Results</a></li>
	</ul>
	<div ui-view="reportingtab" class="tab-content col-xs-12"></div>
</div>